
<%- include("partials/header"); -%>

  <h1><%=postejstitle%></h1>
  <p><%=postejsbody%></p>
<%- include("partials/footer"); -%>
<!-- </div>
<div class="footer-padding" style=" width:100%;	padding-bottom: 60px;"></div>
  <div class="footer" style="	position: fixed;
  	text-align: center;
  	bottom: 0;
  	width: 100%;
  	height: 60px;
  	background-color: #1abc9c;">
    <p style="	margin-top: 20px;
    	font-size: 15px;
      color: #fff;">Made with ❤️ by masoom's</p>
  </div>
-->
